dist/
localSettings.js
node_modules/
.idea/
.nyc_output/
coverage/
pack
.env
.env.local
.env.production
yarn.lock
yarn-error.log
*.DS_Store
assets/certs/*
.DS_Store
config/database.json
.history/
.next/
.husky
.env.dev
tsconfig.tsbuildinfo
logs/*
